<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.SysMessage.PrivateMsgMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.SystenMsg.PrivateMsg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="send_id" jdbcType="VARCHAR" property="sendId" />
    <result column="send_name" jdbcType="VARCHAR" property="sendName" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="send_text" jdbcType="VARCHAR" property="sendText" />
    <result column="read_status" jdbcType="BIT" property="readStatus" />
    <result column="type" jdbcType="BIT" property="type" />
  </resultMap>
</mapper>