<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.PtUserMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.PtUser.PtUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="unique_id" jdbcType="VARCHAR" property="uniqueId" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="is_publish" jdbcType="BIT" property="isPublish" />
    <result column="is_comment" jdbcType="BIT" property="isComment" />
    <result column="is_msg" jdbcType="BIT" property="isMsg" />
    <result column="is_like" jdbcType="BIT" property="isLike" />
    <result column="artificial_num" jdbcType="INTEGER" property="artificialNum" />
    <result column="thumbsup_num" jdbcType="INTEGER" property="thumbsupNum" />
  </resultMap>
</mapper>