<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameloft9.demo.dataaccess.dao.UserConcernMapper">
  <resultMap id="BaseResultMap" type="com.gameloft9.demo.dataaccess.model.PtUser.UserConcern">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="be_user_id" jdbcType="VARCHAR" property="beUserId" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
</mapper>